.m-auto {
    margin: 10px auto;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-col {
    flex-direction: column;
}

.align-item {
    align-items: center;
}